{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<br><h1>lets find you a new group!</h1><br>
<div class="row row-cols-md-2 row-cols-md-3 g-4">
    {% for event in events %}
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{ event.title }}</h3>
          <p class="card-text">
          <h4>{{ event.details }}</h4>
          <h4>{{ event.date }} {{ event.hour }}</h4>
          <form action="/" method="post" onsubmit="return myFunction()">
            <input type="hidden" id="event_id" name="event_id" value="{{ event.id }}"/>
            {% set event_id = event.id | string() %}
            {% if event_id in registers %}
              <button class="btn btn-primary" type="submit">Can't wait!</button>
            {% else %}
              <button class="btn btn-primary" type="submit">Register</button>
            {% endif %}
          </form>
          </p>
        </div>
      </div>
    {% endfor %}
    

{% endblock %}