{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register2" method="post">
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                  <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <div class="header" style="font-size: 60px; font-weight: bold; color: #A41034;">Grouper</div>
                        <br>
                      <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                      <form>
          
                        <div class="row">
                          <div class="col-md-6 mb-4">
          
                            <div class="form-outline">
                              <input  autocomplete="off" type="tel" name="Harvard_id" class="form-control form-control-lg" />
                              <label class="form-label" for="firstName">Harvard Id</label>
                            </div>
          
                          </div>
                          <div class="col-md-6 mb-4">
          
                            <div class="form-outline">
                              <input  autocomplete="off" type="text" name="email" class="form-control form-control-lg" />
                              <label class="form-label" for="email">Email</label>
                            </div>
                        
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input  autocomplete="off" type="tel" name="phone" class="form-control form-control-lg" />
                                    <label class="form-label" for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <input  autocomplete="off" type="date" name="birthday" class="form-control form-control-lg" />
                                <label class="form-label" for="birthday">Date Of Brith</label>
                            </div>
                            </div>

                            <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <input  autocomplete="off" type="password" name="password" class="form-control form-control-lg" />
                                <label class="form-label" for="password">Password</label>
                            </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input  autocomplete="off" type="password" name="confirmation" class="form-control form-control-lg" />
                                    <label class="form-label" for="confirmation">Confirmation</label>
                                </div>
                            </div>
          
                        <div class="mt-4 pt-2">
                          <input class="btn btn-primary btn-lg" type="submit" value="Next" />
                        </div>
                    </div>
                        
                        <br><br>
                        <h6>Do you have an acoount?</h6>
                        <br>
                        <a class="nav-link" href="/login">Login</a>
    
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </section>
          
{% endblock %}