{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/register2" method="post">
    <h1>Register:</h1><br>
    <!-- One "tab" for each step in the form: -->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="Harvard_id" name="Harvard_id" placeholder="Harvard Student id" type="number">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email adresse" type="text">
        </div>
        <div class="mb-3">
            <input  autocomplete="off" autofocus class="form-control mx-auto w-auto" id="phone" name="phone" placeholder="Phone Number" type="number">
        </div>
        <div class="mb-3">
            <input  autocomplete="off" autofocus class="form-control mx-auto w-auto" id="birthday" name="birthday" placeholder="birthday" type="date">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input  autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
    

        <button class="btn btn-primary" type="submit">Next</button>
    
</form>



{% endblock %}