{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <h1>Register:</h1><br>
        <!-- One "tab" for each step in the form: -->
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="firstname" name="firstname" placeholder="First Name" type="text">
            </div>
            <div class="mb-3">
                <input  autocomplete="off" autofocus class="form-control mx-auto w-auto" id="lastname" name="lastname" placeholder="Last Name" type="text">
            </div>
            <div class="mb-3">
                <input  autocomplete="off" autofocus class="form-control mx-auto w-auto" id="passport" name="passport" placeholder="Passport Number" type="Number">
            </div>

            <button class="btn btn-primary" type="submit">Next</button>
        
        <br><br>
        <h6>Do you have an acoount?</h6>
        <a class="nav-link" href="/login">Login</a>
    </form>


{% endblock %}